---
title: gNMI server
tags:
  - openconfig
  - gnmi
  - server
  - go
weight: 20
description: >
  Adding gNMI server-side support to your application
---

file: `main.go`
```go
[[ cp "main.go" ]]
```

