---
title: RESTCONF client
weight: 11
tags:
  - client
  - go
  - restconf
  - json
description: >
  Connecting to a RESTCONF server
---

You can communicate with a RESTCONF server using a basic HTTP library.  For simple applications this is a reasonable approach.   If you want to "level-up" your API access to be able to walk the schema (i.e. YANG) then you can use the RESTCONF client in FreeCONF.

```go
[[ cp "client_test.go" ]]
```

